        Crosby Stills Nash & Young/1971 - Four Way Street CD 1/01-Crosby, Stills, Nash & Young-Suite Judy Blue Eyes.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/02-Crosby, Stills, Nash & Young-On The Way Home.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/03-Crosby, Stills, Nash & Young-Teach Your Children.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/04-Crosby, Stills, Nash & Young-Triad.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/05-Crosby, Stills, Nash & Young-The Lee Shore.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/06-Crosby, Stills, Nash & Young-Chicago.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/07-Crosby, Stills, Nash & Young-Right Between The Eyes.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/08-Crosby, Stills, Nash & Young-Cowgirl in the Sand.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/09-Crosby, Stills, Nash & Young-Don't Let It Bring You Down.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/10-Crosby, Stills, Nash & Young-49 Bye-Byes  America's Children.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/11-Crosby, Stills, Nash & Young-Love The One You're With.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/12-Crosby, Stills, Nash & Young-King Midas in Reverse.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/13-Crosby, Stills, Nash & Young-Laughing.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/14-Crosby, Stills, Nash & Young-Black Queen.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 1/15-Crosby, Stills, Nash & Young-LonerCinnamonGirlDownByTheRiver.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 2/01-Crosby, Stills, Nash & Young-Pre-Road Downs.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 2/02-Crosby, Stills, Nash & Young-Long Time Gone.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 2/03-Crosby, Stills, Nash & Young-Southern Man.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 2/04-Crosby, Stills, Nash & Young-Ohio.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 2/05-Crosby, Stills, Nash & Young-Carry On.mp3
          Crosby Stills Nash & Young/1971 - Four Way Street CD 2/06-Crosby, Stills, Nash & Young-Find The Cost Of Freedom.mp3
          Crosby Stills Nash & Young/1974 - So Far/01-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Deja Vu.mp3
          Crosby Stills Nash & Young/1974 - So Far/02-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Helplessly Hoping.mp3
          Crosby Stills Nash & Young/1974 - So Far/03-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Wooden Ships.mp3
          Crosby Stills Nash & Young/1974 - So Far/04-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Teach Your Children.mp3
          Crosby Stills Nash & Young/1974 - So Far/05-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Ohio.mp3
          Crosby Stills Nash & Young/1974 - So Far/06-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Find The Cost Of Freedom.mp3
          Crosby Stills Nash & Young/1974 - So Far/07-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Woodstock.mp3
          Crosby Stills Nash & Young/1974 - So Far/08-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Our House.mp3
          Crosby Stills Nash & Young/1974 - So Far/09-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Helpless.mp3
          Crosby Stills Nash & Young/1974 - So Far/10-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Guinnevere.mp3
          Crosby Stills Nash & Young/1974 - So Far/11-Crosby, Stills, Nash & Young-Crosby, Stills, Nash & Young  Suite Judy Blue Eyes.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/01.- Turn your Back on Love.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/02.- Wasted on the Way.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/03.- Southern Cross.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/04.- Into the Darkness.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/05.- Delta.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/06.- Since I Met you.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/07.- Too Much Love to Hide.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/08.- Song for Susan.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/09.- Your Alive.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/10.- Might as Well Have a Good Time.mp3
          Crosby Stills Nash & Young/1982 - Daylight Again/11.- Daylight Again.mp3
          Eurythmics/1984 - Touch/01 - Here Comes the Rain Again.mp3
          Eurythmics/1984 - Touch/02 - Regrets.mp3
          Eurythmics/1984 - Touch/03 - Right by Your Side.mp3
          Eurythmics/1984 - Touch/04 - Cool Blue.mp3
          Eurythmics/1984 - Touch/05 - Who's That Girl-.mp3
          Eurythmics/1984 - Touch/06 - The First Cut.mp3
          Eurythmics/1984 - Touch/07 - Aqua.mp3
          Eurythmics/1984 - Touch/08 - No Fear, No Hate, No Pain (No Broken Hearts).mp3
          Eurythmics/1984 - Touch/09 - Paint a Rumour.mp3
          Eurythmics/1985 - Be Yourself Tonight/01 - Would I Lie to You-.mp3
          Eurythmics/1985 - Be Yourself Tonight/02 - There Must Be an Angel (Playing With My Heart).mp3
          Eurythmics/1985 - Be Yourself Tonight/03 - I Love You Like a Ball and Chain.mp3
          Eurythmics/1985 - Be Yourself Tonight/04 - Sisters Are Doin' It for Themselves.mp3
          Eurythmics/1985 - Be Yourself Tonight/05 - Conditioned Soul.mp3
          Eurythmics/1985 - Be Yourself Tonight/06 - Adrian.mp3
          Eurythmics/1985 - Be Yourself Tonight/07 - It's Alright (Baby's Coming Back).mp3
          Eurythmics/1985 - Be Yourself Tonight/08 - Here Comes That Sinking Feeling.mp3
          Eurythmics/1985 - Be Yourself Tonight/09 - Better to Have Lost in Love (Than Never to Have Loved at All).mp3
          Eurythmics/1986 - Revenge/01 - Missionary Man.mp3
          Eurythmics/1986 - Revenge/02 - Thorn in My Side.mp3
          Eurythmics/1986 - Revenge/03 - When Tomorrow Comes.mp3
          Eurythmics/1986 - Revenge/04 - The Last Time.mp3
          Eurythmics/1986 - Revenge/05 - The Miracle of Love.mp3
          Eurythmics/1986 - Revenge/06 - Let's Go.mp3
          Eurythmics/1986 - Revenge/07 - Take Your Pain Away.mp3
          Eurythmics/1986 - Revenge/08 - A Little of You.mp3
          Eurythmics/1986 - Revenge/09 - In This Town.mp3
          Eurythmics/1986 - Revenge/10 - I Remember You.mp3
          Eurythmics/1987 - Savage/01 - Beethoven (I Love to Listen To).mp3
          Eurythmics/1987 - Savage/02 - I've Got Lover (Back in Japan).mp3
          Eurythmics/1987 - Savage/03 - Do You Want to Break Up-.mp3
          Eurythmics/1987 - Savage/04 - You Have Placed a Chill in My Heart.mp3
          Eurythmics/1987 - Savage/05 - Shame.mp3
          Eurythmics/1987 - Savage/06 - Savage.mp3
          Eurythmics/1987 - Savage/07 - I Need a Man.mp3
          Eurythmics/1987 - Savage/08 - Put the Blame on Me.mp3
          Eurythmics/1987 - Savage/09 - Heaven.mp3
          Eurythmics/1987 - Savage/10 - Wide Eyed Girl.mp3
          Eurythmics/1987 - Savage/11 - I Need You.mp3
          Eurythmics/1987 - Savage/12 - Brand New Day.mp3
          Eurythmics/1989 - We Too Are One/01 - We Two Are One.mp3
          Eurythmics/1989 - We Too Are One/02 - The King & Queen Of America.mp3
          Eurythmics/1989 - We Too Are One/03 - (My, My) Baby's Gonna Cry.mp3
          Eurythmics/1989 - We Too Are One/04 - Don't Ask Me Why.mp3
          Eurythmics/1989 - We Too Are One/05 - Angel.mp3
          Eurythmics/1989 - We Too Are One/06 - Revival.mp3
          Eurythmics/1989 - We Too Are One/07 - You Hurt Me (And I Hate You).mp3
          Eurythmics/1989 - We Too Are One/08 - Sylvia.mp3
          Eurythmics/1989 - We Too Are One/09 - How Long  .mp3
          Eurythmics/1989 - We Too Are One/10 - When The Day Goes Down.mp3
          Tangerine Dream/2008 - Purple Diluvial/Tangerine Dream - Purple Diluvial - 01 - Armageddon In The Rose Garden Part II.mp3
          Tangerine Dream/2008 - Purple Diluvial/Tangerine Dream - Purple Diluvial - 02 - Purple Diluvial.mp3
          Tangerine Dream/2008 - Purple Diluvial/Tangerine Dream - Purple Diluvial - 03 - Babylon The Great Has Fallen.mp3

